@model IEnumerable<PartneriOsiguravajućegDruštva.ViewModel.PartnerViewModel>

@{
    ViewBag.Title = "Home Page";
}

<h2>Partneri</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartnerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CroatianPIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartnerTypeId)
        </th>
        <td>
            @Html.DisplayNameFor(model => model.CreatedAtUtc)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.IsForeign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojPolice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IznosPolice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CroatianPIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAtUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsForeign)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojPolice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IznosPolice)
            </td>

            <td>
            </td>
        </tr>
    }

</table>
