@model PartneriOsiguravajućegDruštva.ViewModel.PartnerViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>User Details</h2>
<p>Ime: @Model.FirstName</p>
<p>Prezime: @Model.LastName</p>
<p>Adresa: @Model.Address</p>
<p>PartnerNumber: @Model.PartnerNumber</p>
<p>OIB: @Model.CroatianPIN</p>
<p>PartnerTypeId: @Model.PartnerTypeId</p>
<p>CreatedByUtc: @Model.CreatedAtUtc</p>
<p>CreatedByUser: @Model.CreateByUser</p>
<p>IsForeign: @Model.IsForeign</p>
<p>External Code: @Model.ExternalCode</p>
<p>Gender: @Model.Gender</p>
<p>Broj police: @Model.BrojPolice</p>
<p>Iznos police: @Model.IznosPolice</p>